NEXT_PUBLIC_SUPABASE_ANON_KEY_WIZZARD=
NEXT_PUBLIC_SUPABASE_URL_WIZZARD=

NEXT_PUBLIC_SUPABASE_ANON_KEY_ADMIN=
NEXT_PUBLIC_SUPABASE_URL_ADMIN=
SUPABASE_SERVICE_ROLE_KEY_ADMIN=


NEXT_PUBLIC_AUTH_PROVIDER=
DBPW=

# Supabase project settings (Anon key is safe for client-side)
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
# Optional – only used for server-side admin tasks (do NOT commit real value)
# SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# Site
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SIGNAL_GROUP_URL=
REVERSE_GEOCODE_CONTACT=
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_BRAND_NAME=
